[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=2.2"
numpy = "~=2.2"
altair = "~=5.5"
pytest = "~=8.3"
pyprind = "~=2.11"
seaborn = "~=0.13"
matplotlib = "~=3.10"
pyarrow = "~=18.1"

[dev-packages]
yapf = "*"
flake8 = "*"
