[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
altair = "*"
jupyter = "*"
pandas-datareader = "*"
pytest = "*"
pyprind = "*"
pyfolio = "*"
seaborn = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
