name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - name: Run tests
        run: nix develop --command python -m pytest -v backtester
      - name: Type check
        run: nix develop --command python -m mypy backtester --ignore-missing-imports
